<html>
<section class="w-full top-0">
    <div class="w-full h-full bg-white dark:bg-lightblack background-size: 100%; background-repeat: no-repeat;"></div>
    <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
                <div class="flex flex-col min-w-12 break-words w-full mb-6 shadow-lg rounded-lg border-0">
                    <div class="flex-auto px-4 lg:px-4 py-4 pt-0 bg-gradient-to-r from-purple to-orange rounded-lg">
                        <hr class="">
                            <div class="grid grid-cols-2 gap-0 flex content-center pt-2">
                                <!-- Login/Register Buttons -->
                                <button (click) = "toggle(1)" class = "text-center text-4xl text-white hover:text-gray-300 font-serif bg-base-100">Login</button>
                                <button (click)= "toggle(0)" class = "text-center text-4xl text-white hover:text-gray-300 font-serif bg-base-100">Register</button>
                            </div>
                            <!-- register page -->
                                <div *ngIf="showTab == 0" class="w-full max-w-s">
                                    <form
                                        (submit) = "OnUserSignUp()"
                                        method = "POST"
                                        enctype = "multipart/form-data"
                                        class = "container rounded-lg bg-white px-2 py-2 dark:bg-lightblack">
                                            <div class="relative w-full mb-3">
                                                <label class="font-serif block uppercase text-gray-600 dark:text-white text-xs font-bold mb-2" for="grid-password">
                                                    First Name</label>
                                                <input 
                                                    type="text" 
                                                    class="font-serif px-3 py-3 placeholder-gray-400 text-gray-600 dark:text-white bg-gray-100 dark:bg-lightblack rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                                    placeholder="Enter First Name"
                                                    [(ngModel)] = "firstname"
                                                    name = "firstname"
                                                    id = "firstname"
                                                    >
                                            </div>
                                            <div class="relative w-full mb-3">
                                                <label class="font-serif block uppercase text-gray-600 dark:text-white text-xs font-bold mb-2" for="grid-password">
                                                    Last Name</label>
                                                <input 
                                                    type="text" 
                                                    class="font-serif px-3 py-3 placeholder-gray-400 text-gray-600 dark:text-white bg-gray-100 dark:bg-lightblack rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                                    placeholder="Enter Last Name"
                                                    [(ngModel)] = "lastname"
                                                    name = "lastname"
                                                    id = "lastname">
                                            </div>
                                            <div class="relative w-full mb-3">
                                                <label class="font-serif block uppercase text-gray-600 dark:text-white text-xs font-bold mb-2" for="grid-password">
                                                    Email</label>
                                                <input
                                                    type="text"
                                                    class="font-serif px-3 py-3 placeholder-gray-400 text-gray-600 dark:text-white bg-gray-100 dark:bg-lightblack rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                                    placeholder="Enter email"
                                                    [(ngModel)]="email"
                                                    name = "email"
                                                    id = "email">
                                            </div>
                                            <div class="relative w-full mb-3">
                                                <label class="font-serif block uppercase text-gray-600 dark:text-white text-xs font-bold mb-2" for="grid-password">
                                                    Password</label>
                                                <input 
                                                    type="text" 
                                                    class="font-serif px-3 py-3 placeholder-gray-400 text-gray-600 dark:text-white bg-gray-100 dark:bg-lightblack rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                                    placeholder="Enter password"
                                                    [(ngModel)] = "password"
                                                    name = "password"
                                                    id = "password">
                                            </div>
                                            <div class="text-center mt-6">
                                                <button 
                                                    (submit)="OnUserSignUp()"
                                                    class="font-serif bg-bluesign text-white active:bg-bluesign text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="button" style="transition: all 0.15s ease 0s;"
                                                    type="submit">
                                                    Register</button>
                                            </div>
                                    </form>
                                </div>
                                <!-- login page -->
                                <div *ngIf="showTab == 1" class="w-full max-w-s">
                                    <form
                                        (submit) = "OnUserSignIn()"
                                        method = "POST"
                                        enctype = "multipart/form-data"
                                        class = "container rounded-lg bg-white px-2 py-2 dark:bg-lightblack">
                                        <div class="relative w-full mb-3">
                                        <label class="font-serif block uppercase text-gray-600 dark:text-white text-xs font-bold mb-2" for="grid-password">
                                            Email</label>
                                            <input
                                                type="text"
                                                class="font-serif px-3 py-3 placeholder-gray-400 text-gray-600 dark:text-white bg-gray-100 dark:bg-lightblack rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                                placeholder="Enter email"
                                                [(ngModel)]="email"
                                                name = "email"
                                                id = "email">
                                        </div>
                                        <div class="relative w-full mb-3">
                                            <label class="font-serif block uppercase text-gray-600 dark:text-white text-xs font-bold mb-2" for="grid-password">
                                                Password</label>
                                            <input 
                                                type="text" 
                                                class="font-serif px-3 py-3 placeholder-gray-400 text-gray-600 dark:text-white bg-gray-100 dark:bg-lightblack rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                                placeholder="Enter password"
                                                [(ngModel)] = "password"
                                                name = "password"
                                                id = "password">
                                        </div>
                                        <div>
                                            <label class="inline-flex items-center cursor-pointer">
                                                <input id="customCheckLogin" type="checkbox" class="ml-2 text-sm font-semibold font-serif form-checkbox ml-1 w-5 h-5" style="transition: all 0.15s ease 0s;"><div class="ml-2 text-sm font-semibold text-gray-600 dark:text-white">Remember me</div></label>
                                        </div>
                                        <div class="text-center mt-6">
                                            <button 
                                                (submit)="OnUserSignIn()"
                                                class="font-serif bg-bluesign text-white active:bg-bluesign text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="button" style="transition: all 0.15s ease 0s;"
                                                type="submit">
                                                Sign In</button>
                                        </div>
                                            <!-- <div class="rounded-t mb-0 px-6 py-6 btn-wrapper text-center">
                                                <button class="bg-gray-900 active:bg-gray-100 text-gray-100 font-serif px-8 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs" type="button" style="transition: all 0.15s ease 0s;">
                                                    <img src="assets/googlelogo.png" class="w-4 mr-2"><p class="font-serif">Or sign in with Google</p>
                                                </button>
                                            </div>
                                            <hr class="mt-6 border-b-1 border-gray-400">
                                                <div class="flex flex-wrap mt-6 w-1/2">
                                            <a href="#pablo" class="text-gray-300"><small>Forgot password?</small></a></div> -->
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap items-center md:justify-between justify-center">
                <div class="w-full md:w-8/12 px-4">
                    <ul class="flex flex-wrap list-none md:justify-end justify-center"></ul>
                </div>
            </div>
        </div>
</section>
</html>