<html>

<h1>Please fill out contact form to send us an email
    <br>
    We will respond within 24 hours
</h1>

<form class="cf" menthod="post" name="contact_form" action="contact-form-handler.php">
  <div class="half left cf">
    <input type="text" name="input-name" placeholder="Name">
    <input type="email" name="input-email" placeholder="Email address">
    <input type="text" name="input-subject" placeholder="Subject">
  </div>
  <div class="half right cf">
    <textarea name="message" type="text" name="input-message" placeholder="Message"></textarea>
  </div>  
  <input type="submit" value="Submit" id="input-submit">
</form>
</html>

