<div class="container mx-auto p-5">
  <h2 class="text-xl lg:text-3xl md:text-3xl text-center py-4">Our upcoming Farmers Market events are a great place to see us in-person!</h2>
  <div class="responsive ">
    <iframe
    class="rounded-md"
    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23e0bac9&ctz=America%2FChicago&mode=MONTH&showNav=1&showPrint=0&showCalendars=0&showTabs=0&showTitle=1&title=Bite%20Sized%20Treasures%20Events!&src=Yml0ZXNpemVkdHJlYXN1cmVzQGdtYWlsLmNvbQ&color=%23009688"
  ></iframe>
  </div>

</div>

