<div class="  items-center flex bg-blue-100 rounded-lg py-4 px-8  my-5 md:self-start">
  <svg class="w-5 h-5 text-blue-700 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <p class="ml-3 text-md text-blue-700 text-center md:self-start md:text-left"><span class="text-md text-center md:self-start md:text-left">Important Note:</span> Get a dozen of the flavor of the month for $5 off regular price!</p>
  <span class="float-right closebtn " onclick="this.parentElement.style.display='none';">&times;</span>
</div>
  <div class="md:flex md:flex-row mt-20">
    <div class="md:w-2/5 flex flex-col justify-center items-center">
      <h2 class="text-5xl text-gray-600 mb-4 text-center md:self-start md:text-left">Welcome to our kitchen</h2>
      <p class="uppercase text-gray-600 tracking-wide text-center md:self-start md:text-left">Bite sized Treats! Made with love</p>
      <a routerLink="/menu" class="bg-gradient-to-r from-purple to-orange rounded-full py-4 px-8 text-gray-50 uppercase text-xl md:self-start my-5">Order Now</a>
    </div> <!-- text section -->
    <div class="md:w-3/5">
      <img src="../../../assets/table.jpg" class="w-auto h-auto rounded-lg">
    </div> <!-- image section -->
  </div><!-- Home section -->

  <div class="rounded-lg shadow-lg my-20 flex flex-row">
    <div class="lg:w-5/5 w-full bg-gradient-to-r from-purple to-orange lg:from-purple lg:via-blue-600 lg:text-gray-100 rounded-lg text-gray-100 p-12">
      <div class="lg:w-1/1">
        <h3 class="text-4xl text-center font-extrabold mb-4">About BiteSizedTreasures</h3>
        <p class="mb-4 leading-relaxed">
          Katie and Abby are two sisters who have teamed up to bring you
          the freshest home made cake balls, cookie balls, and other treats! It all started with Katie's
          love of bakeing and Abby's entrepreneur spirt. The treats Katie made where in proular demand and
          where requated for more then just the company potluck so with the help of her sister Abby and some
          encuragment from there fmaily Bite sized treasers was created in August of 2021! We streve to have
          the best viraity of bitsized cake and cookie balls avalable. All cakes, cookies, and frostings used
          are made freash from scrach for each order! We hope you enjoy your treats with dilivery and pickup
          avalable in the DFW area.</p>

      </div>
    </div>
  </div><!-- Newsletter Section -->

