// global variables pulled from figma for our text
$bst-pink: #E0BAC9;
$bst-label: #5D534A;
$salsa-font: 'Salsa', sans-serif;

//title of website 
.body {
    color: $bst-pink;
    font: $salsa-font;
    font-size: xxx-large;
    padding: 2rem;
}

//labels of different webpages
.header {
    color: $bst-label;
    font: $salsa-font;
    font-size: xx-large;
}

.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
