<html>

    
   
    
             
                <p align="center" style="font-size: xx-large; color: #5D534A;"  >
                <img src="assets/Flavor of the Month!.jpg" alt="flavor of the month" style="width:50%; height:50% ;" > 
            
                <br>
                <br>
                <br>

                    Bite sized Treats! <br>
                    Made with love <br>
                    <body>
                    <a href="./menu" paria-current="page"><button class="button 
                        button1" > Order Now! </button></a>
                    
                </body>
            
            </p>
            

       
       <p align="center" style="font-size: xx-large;"  >
        Or see us in person At one of our 
        <br>
        Farmers Market Events! 
        <br>
        <br>
          <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23e0bac9&ctz=America%2FChicago&mode=MONTH&showNav=1&showPrint=0&showCalendars=0&showTabs=0&showTitle=1&title=Bite%20Sized%20Treasures%20Events!&src=Yml0ZXNpemVkdHJlYXN1cmVzQGdtYWlsLmNvbQ&color=%23009688" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </p>

<br>
<br>

    <div class="aboutus" >
        <h2 align= "center" style="color: white;font-size: xx-large;"> About Bite Sized Treasures</h2>
        <br>
        <br>
        Katie and Abby are two sisters who have teamed up to bring you the freshest home made cake balls, cookie balls, and other treats! It all started with Katie's love 
        of bakeing and Abby's entrepreneur spirt. The treats Katie made where in proular demand and where requated for more then just the company potluck so with the help
        of her sister Abby and some encuragment from there fmaily Bite sized treasers was created in August of 2021! We streve to have the best viraity of bitsized cake and cookie balls avalable.
        All cakes, cookies, and frostings used are made freash from scrach for each order! We hope you enjoy your treats with dilivery and pickup avalable in the DFW area. 
        <br>
        <br>
    

        
        </div>
