<div class="container mx-auto p-4">
  <div class="md:flex md:flex-row  md:justify-between text-center text-sm sm:text-base">
    <div class="flex flex-row justify-center mt-2">
      <img class="w-9 h- rounded-lg" src="../../../favicon.ico">
      <!-- <div class="bg-gradient-to-r from-purple to-orange w-8 h-8 rounded-lg"></div> -->
      <a routerLink="/" class="text-2xl text-gray-600 dark:text-white ml-2">BiteSizedTreasures</a>
    </div>
    <div class="mt-2">
      <a routerLink="/menu" class="text-gray-600 dark:text-white hover:underline hover:text-purple-600 p-4 px-3 sm:px-4">Menu</a>
      <a routerLink="/calendar" class="text-gray-600 dark:text-white  hover:underline hover:text-purple-600 p-4 px-3 sm:px-4">Events</a>
      <a routerLink="/contact" class="text-gray-600 dark:text-white hover:underline hover:text-purple-600 p-4 px-3 sm:px-4">Contact</a>
      <a routerLink="/login" class="text-gray-600 dark:text-white hover:underline hover:text-purple-600 p-4 px-3 sm:px-4">Login</a>
      <button routerLink="/cart" class="bg-purple text-white hover:bg-gray-600 dark:hover:bg-colors-purple-700 p-1 px-2 sm:px-5 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
      </button>
      <button  (click)="enableDisableRule()" [ngClass]="{'light-mode' : toggle, 'dark-mode': !toggle}" class="ml-1 bg-purple text-white hover:bg-gray-600 dark:hover:bg-colors-purple-700 p-1 px-1 sm:px:2 rounded-full">
        <svg *ngIf="toggle" xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <svg *ngIf="!toggle" xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
      </button>
    </div>
  </div><!-- Main Navigation -->
