<div class="w-full max-w-s">
  <form
    (submit)="updateProductbyID()"
    method="POST"
    enctype="multipart/form-data"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4" id="name_div">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input
        [(ngModel)]="name"
        type="text"
        name="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        placeholder="Enter name"
        [value]="allProducts.name"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
        Price
      </label>
      <input
        [(ngModel)]="price"
        name="price"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="price"
        type="number"
        placeholder="Enter price"
        [value]="allProducts.price"
      />
    </div>
    <div class="mb-6">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="ingredients"
      >
        Ingredients
      </label>
      <input
        [(ngModel)]="ingredients"
        name="ingredients"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="ingredients"
        type="text"
        placeholder="Enter ingredients"
        [value]="allProducts.ingredients"
      />
    </div>
    <div class="mb-6">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="allergins"
      >
        Allergins
      </label>
      <input
        [(ngModel)]="allergins"
        name="allergins"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="allergins"
        type="text"
        placeholder="Enter allergins"
        [value]="allProducts.allergins"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="coating">
        Coating
      </label>
      <input
        [(ngModel)]="coating"
        name="coating"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="allergins"
        type="text"
        placeholder="Enter coating"
        [value]="allProducts.coating"
      />
    </div>
    <div class="mb-6">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="decorations"
      >
        Decorations
      </label>
      <input
        [(ngModel)]="decoration"
        name="decoration"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="decoration"
        type="text"
        placeholder="Enter decorations"
        [value]="allProducts.decoration"
      />
    </div>

    <div class="flex items-center justify-between">
      <button
        (submit)="updateProductbyID()"
        class="bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Update Item
      </button>
    </div>
  </form>

  <p class="text-center text-gray-500 text-xs">
    &copy;2022 Bite Sized Treasures Corp. All rights reserved.
  </p>
</div>
